<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup or login</title>
    </head>
    <body>


        <p>Signup or login</p>
        
        <p>Signup:</p>
        <form action="#" th:action="@{/form}" method="GET">
            <p><input type="submit" value="Signup"></input></p>
        </form>

        <p>Login:</p>
        <form action="#" th:action="@{/login}" method="GET">
            <p><input type="submit" value="Login"></input></p>
        </form>

        
        <p></p>
    </body>
</html>
